<div class="menu">
  <header class="container">
    <div class="navbar navbar-inner">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="brand" ><href="/"><img class="brand1"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRclkRxpiWrpyOaKvKhJbzav2SbJZIyOf7TlO8qSmh2j5hbibvzJg"</a>
    </div>
    <div class="collapse navbar-collapse pull-right" id="main-menu">
      <ul class="nav">
        <li class="fadeInDown animated d1 "><a href="#" class="active" id="home" menuid="0" followlink="true" >Home</a></li>
        <li class="fadeInDown animated d2"><a href="#" menuid="1" followlink="true">About</a></li>
        <li class="dropdown fadeInDown animated d3"><a href="#" class="trigger right-caret">Service</a></li>
        <li><a href="#Varlik-Yonetimi" menuid="10" followlink="true">XXX</a></li>
        <li><a href="#Varlik-Yonetimi" menuid="10" followlink="true">Team</a></li>
        <li><a href="#Varlik-Yonetimi" menuid="10" followlink="true">Contact Us</a></li>
        <li><a href="/instagram/auth" menuid="10" followlink="true">Instagram</a></li>
      </ul></li>
    </div>
  </header>
</div>
