header {
  background-color: #DBDBDB;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.brand {
  opacity: 0.2;
  height: 20px;
  width: 20%;
}

.brand1 {
  width: 50%;
}
